* {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }

 header {
    width: 100%;
    height: 60px;
    line-height: 50px;
    color: #000000;
    background-color: #ebe8d8;
    text-align: right;
  }

 footer {
    width: 100%;
    height: 60px;
    line-height: 50px;
    color: #000000;
    background-color: #008564;
    text-align: right;
  }

  h1,
  h2 {
    margin: 20;
    text-align: center;
 }
  
 img {
    display: block;
    margin: 20px auto;
 }

  form {
    width: 100%;
    height: 150px;
    line-height: 25px;
    color: #000000;
    background-color: #ebe8d8;
    text-align: center;
  }

  